
body{
    background: lightblue;
    padding: 50px;
}
header{
    color: yellow;
    background: red;
    text-align: center;
    position: sticky;
}
#text-run{
    font-size: 100px;
}
section>h2{
    box-sizing: border-box;
    text-align: center;
    color: limegreen;
    font-family: Tahoma,Arial;
    text-decoration: red;
    text-decoration-line: underline;
}
section{
    box-sizing: border-box;
    text-align: center;
    text-decoration-line: underline;
}
footer{
    font-family: Arial, Tahoma;
    box-sizing: border-box;
    text-align: center;
    color: black;
}